ADK_MODEL=gemini-3-flash-preview
GOOGLE_CLOUD_PROJECT=YOUR_PROJECT_ID
GOOGLE_CLOUD_LOCATION=global
GOOGLE_GENAI_USE_VERTEXAI=True
MARKET_RESEARCH_AGENT_URL=http://localhost:8002
ADK_AUTH_ID=YOUR_ADK_AUTH_ID
DATA_INSIGHT_AGENT_PROJECT=YOUR_DATA_INSIGHT_AGENT_PROJECT
DATA_INSIGHT_APP_ID=YOUR_DATA_INSIGHT_APP_ID
DATA_INSIGHT_AGENT_ID=YOUR_DATA_INSIGHT_AGENT_ID
DATA_INSIGHT_PROJECT_NUMBER=YOUR_DATA_INSIGHT_PROJECT_NUMBER
PRODUCT_STRATEGY_AGENT_URL=http://localhost:8001
