ADK_MODEL=gemini-3-flash-preview
SIGNED_URL_EXPIRATION_MINUTES=60
GOOGLE_CLOUD_PROJECT=YOUR_PROJECT_ID
GOOGLE_CLOUD_LOCATION=global
GOOGLE_GENAI_USE_VERTEXAI=True
VEO_GCS_BUCKET=YOUR_VEO_GCS_BUCKET
GOOGLE_DRIVE_FOLDER_ID=YOUR_GOOGLE_DRIVE_FOLDER_ID
